body {
  font-family: 'Ubuntu', sans-serif;
  background: rgb(175,208,241);
  background: radial-gradient(circle, rgba(175,208,241,1) 26%, rgba(50,19,157,1) 95%);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
