.auth-container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 45vh;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(2px);
}

.mybank-logo {
  width: 200px;
}

.welcome-text {
  margin: auto;
  font-size: 60px;
  background: -webkit-linear-gradient(#129, #123);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-up_button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #129;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

.sign-up_button:hover {
  background-color: #0d76a8;
}

input {
  display: flex;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #127;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #127;
  outline: none;
}

@keyframes custom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

input:focus {
  animation: custom 0.5s ease-in-out;
}

input::placeholder {
  color: #127;
  font-family: 'Ubuntu', sans-serif;
}

.error-message {
  color: red;
  border: 5px black;
  text-shadow: 2px 2px 2px black;
  font-size: larger;
}
