<div class="logo">
  <img class="mybank-logo" src="../../../assets/images/mybank-logo.svg" alt="MyBank logo">
</div>
<div class="auth-container">
  <h1 class="welcome-text">Create a profile</h1>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input type="text" id="firstname" name="firstname" placeholder="First name" required [(ngModel)]="formData.firstName">
  <input type="text" id="lastname" name="lastname" placeholder="Last name" required [(ngModel)]="formData.lastName">
  <input type="email" id="email" name="email" placeholder="Email" required [(ngModel)]="formData.email">
  <input type="password" id="password" name="password" placeholder="Password" required [(ngModel)]="formData.password">
  <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat password" required [(ngModel)]="formData.repeatPassword">

  <button class="sign-up_button" type="submit">Sign Up</button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>
</div>
